* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg');
 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
  }
  .darkmode_btn {
    background-color: black;
    color: white;
    border-radius: 13rem;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dark-btn-a {
    background-color: white;
    color: black;
  }
  h1 {
    margin-bottom: 20px;
  
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    color: #555;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .result {
    margin-top: 20px;
  }
  
  #conversion-result {
    font-size: 18px;
    font-weight: bold;
    
  }
  /* dark */
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode input,
  .dark-mode select {
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
  }
  
  .dark-mode button {
    background-color: white;
    color: black;
  }
  
  .dark-mode .result {
    color: white;
  }